# What kind of data does pandas handle?

In [33]:
import pandas as pd
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [34]:
# series
ages = pd.Series([22, 35, 58], name="Age")

In [35]:
# series 
df.describe(include='all')

                           Name        Age   Sex
count                         3   3.000000     3
unique                        3        NaN     2
top     Braund, Mr. Owen Harris        NaN  male
freq                          1        NaN     2
mean                        NaN  38.333333   NaN
std                         NaN  18.230012   NaN
min                         NaN  22.000000   NaN
25%                         NaN  28.500000   NaN
50%                         NaN  35.000000   NaN
75%                         NaN  46.500000   NaN
max                         NaN  58.000000   NaN

In [36]:
df = pd.read_csv(r'C:\Users\Vaishali Tomar\Desktop\Important_python_file\UP_2022.csv')
df1 = pd.read_csv(r'C:\Users\Vaishali Tomar\Desktop\Important_python_file\UP_District.csv')

In [37]:
# to spreadsheet
df.to_excel(r"C:\Users\Vaishali Tomar\Desktop\Important_python_file\UP_2021.xlsx", sheet_name="vote", index=False)

In [38]:
# reading xlsv file
df = pd.read_excel(r"C:\Users\Vaishali Tomar\Desktop\Important_python_file\UP_2021.xlsx", sheet_name="vote")

In [39]:
df

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5
...,...,...,...,...,...,...
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8
4842,403,MISHRI LAL,Independent,1317,0.64,9
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11

In [23]:
# 'ISIN' function 
class_23 = df[df["Party"].isin(['Bharatiya Janata Party','Samajwadi Party'])]

In [25]:
# "NOTNA"
df[df['Party'].notna()]

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5
...,...,...,...,...,...,...
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8
4842,403,MISHRI LAL,Independent,1317,0.64,9
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11

In [29]:
# df.iloc[0:3,2] = 'Bharatiya Janata Party'

In [30]:
df

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Bharatiya Janata Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,1,Rais Malik,Bharatiya Janata Party,45075,16.02,3
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5
...,...,...,...,...,...,...
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8
4842,403,MISHRI LAL,Independent,1317,0.64,9
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11